@import "main.css";  

.route-bar #routes a {
    color:#8E919A;
    font-size: 20px;
    font-family: gotham-book-regular;
    text-decoration: none;
}
.banner-biblioteca {
    background-image: url(../img/banners/banner_biblioteca.png);
    height: 316px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
}

.banner-biblioteca .title-banner {
    display: flex;
    position: relative;
    font-family: gotham-book-regular;
    margin: 0 auto;
    padding-top: 50px;
    color: #eee;
    padding-left: 0;
}

.capacitacao {
    background-image:url(../img/fundo_afipe.png);
    height: 316px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 35px;
    z-index: 999;
}

.capacitacao h3 {
    text-align: left;
    color: #FFFFFF;
    font-family: gotham-bold;
    font-size: 22px;
    margin-bottom: 35px;
}

.capacitacao p {
    display: flex;
    text-align: left;
    color: #FFFFFF;
    font-family: gotham-book-regular;
    font-size: 18px;
}


.biblioteca-info {
    background-color: #42444A;
    padding: 90px 0;
}
.biblioteca-info .img-book {
    display: flex;
    width: 300px;
    float: left;
    height: 300px;
    margin-right: 15px;
}

.biblioteca-info p{
    font-family: gotham-book-regular;
    font-size: 18px;
    color: #FFFFFF;
    opacity: 1;
}

.biblioteca-info h3{
    font-family: gotham-book-regular;
    font-size: 45px;
    color: #FFFFFF;
    opacity: 1;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.content-biblioteca-virtual {
    display: inline-block;
}

.leia-regulamento-box {
    float: left;
}

.leia-regulamento-box  .leia{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: gotham-bold;
}

.btn-biblioteca-virtual .text-button-biblioteca-virtual {
    font-family: gotham-medium !important;
    text-align: left;   
}

.btn-biblioteca-virtual{
    float: left;
    padding: 0 65px;
}

.btn-biblioteca-virtual .icon-biblioteca-virtual {
    padding: 0 15px 0 0;
}

.biblioteca-info .descriptions-biblioteca {
    float: right;
}
.biblioteca-info .btn-card{
    display: flex;
    text-align: center;
    text-transform: uppercase;
    font-family: gotham-medium;
    border-radius: 50px;
    font-size: 18px;
    padding: 18px 77px;
    color: #FFF;
    background: #E30612;
    border: 1px solid #E30612;
}

.biblioteca-info  .btn-card:hover {
    background:none;
    border: 1px solid #fff;

}


.description {
    padding: 77px 0;
    text-align: left;
    font-family: gotham-book-regular;
    font-size: 18px;
    letter-spacing: 0.18px;
    color: #42444A;
    opacity: 1;
}

.description h3 {
    color: #42444A;
    font-weight: 700;
    margin-bottom: 35px;
}

#card-promo .title-facul {
    text-align: center;
    font-family: gotham-medium;
    font-size:27px;
    padding: 50px 0;
    color: #42444A;
    opacity: 1;
}

.line-up-cap     {
    border: 0.5px solid #42444A;
    opacity: 1;
    margin: 35px 15px;
}
