@import "main.css";  

#section-capacitacao .btn-card-contato {
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    border-radius: 50px;
    margin-top: 80px;
    font-size: 18px;
    padding:  10px 25px;
    font-family:Gotham-bold ;
    border: 1px solid #E30612;
    color: #E30612;
}
#section-capacitacao   .btn-card-contato:hover {
    color: #fff;
    background: #E30612;
}

.button-contato .btn-card-contato {
    text-align: center;
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 18px;
    padding:  10px 25px;
    font-family:Gotham-bold ;
    border: 1px solid #E30612;
    color: #E30612;
}
.button-contato .btn-card-contato:hover {
    color: #fff;
    background: #E30612;
}

.box-description-company p{
    font-family: gotham-book-regular;
    color: #42444A;
    font-size: 18px;
}

.up-black {
    font-family: gotham-bold;
color: #42444A;
}