@import "main.css";  

.banner-docente {
    background-image: url(../img/banner_corpodoce.png);
    height: 316px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
}

.banner-docente .title-banner {
    display: flex;
    position: relative;
    font-family: gotham-book-regular;
    /* top: 245px; */
    margin: 0 auto;
    /* left: 85px; */
    padding-top: 50px;
    color: #eee;
    padding-left: 0;
}

.desc-docente {
    background-color: #42444A;
    padding: 90px 0;
}
.desc-docente .img-docente {
    display: flex;
    width: 100%;
    float: left;
    height: 480px;
    margin-right: 15px;
}

.desc-docente p{
    font-family: gotham-book-regular;
    font-size: 18px;
    color: #FFFFFF;
    opacity: 1;
}

.desc-docente .descriptions-docente {
    display: inline-block;
}

.container-news-docente {
background-color: #42444A;
}
.line-up-docente {
    border: 0.5px solid #FFFFFF;
    opacity: 1;
}

.form-send-email-docente form {
    display: flex;
    align-items: center;
}
.form-send-email-docente {
    padding: 60px 0;
    width: 100%;
    display: flex;
    background-color: #42444A;
}

.form-send-email-docente input {
    width: 536px;
    height: 44px;
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 15px 0px 0px 15px;
    padding: 0 25px;
    opacity: 1;
}
.form-send-email-docente span {
    color: #FFFFFF;
}
.form-send-email-docente button {
    color: #fff;
    width: 260px;
    height: 44px;
    background: #012D74 0% 0% no-repeat padding-box;
    border: 1px solid #012D74;
    border-radius: 0px 15px 15px 0px;
    opacity: 1;
    float: right;
}