@import "main.css";  

.banner-credenciamento {
    background-image: url(../img/banners/banner_credenciamentomec.png);
    height: 316px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
}

.banner-credenciamento .title-banner {
    display: flex;
    position: relative;
    font-family: gotham-book-regular;
    /* top: 245px; */
    margin: 0 auto;
    /* left: 85px; */
    padding-top: 50px;
    color: #eee;
    padding-left: 0;
}

.route-bar {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    color:#8E919A;
    height: 70px;
}

.route-bar #routes a {
    color:#8E919A;
    font-size: 20px;
    font-family: gotham-book-regular;
    text-decoration: none;
}

#card-promo-mec .title-grad-credenciamento {
    font-size: 39px;
    margin-top: 121px;
    color: #012D74;
    font-family: gotham-book-regular;
    margin-bottom: 30px;
}

.cards-credencial {
    margin-top:45px;
    margin-bottom:45px;
    font-size: 16px;
    color: #737373;
    text-align: justify;
    font-family: gotham-book-regular;
}

.cards-credencial #card-news {
text-align: justify;
}

.cards-fipe-cap {
    margin-top:45px;
    margin-bottom:45px;

}

#card-promo-mec .title-fipe-cap {
    font-size: 55px;
    color: #E30612;
    text-align: right;
    font-family: gotham-medium;
    text-transform: uppercase;
}


.cards-credencial .text-credencial {
align-items: center;
}


#card-news .fipe-cap-p {
    text-align: left;
    font-family: gotham-book-regular;
    font-size: 18px;
    letter-spacing: -0.18px;
    color: #42444A;
}

.section-credencial-mec {
    display: flex;
    background-color: #42444A;
    text-align: center;
}

.section-credencial-mec .eventos-outros-cursos {
    float: left;
    width: 100%;
    height: 100%;
}

.section-credencial-mec .text-section-eventos {
    padding: 25px 0px 25px 130px;
    text-align: left;
    align-items: center;
}

/* 
.card .btn-card{
    text-align: center;
    text-transform: uppercase;
    font-family: gotham-medium;
    border-radius: 27px;
    font-size: 17px;
    padding: 18px 77px;
    color: #fff;
    background: #E30612;
    border: 1px solid #E30612;
}

.card .btn-card:hover {
    border: 1px solid #fff;
    color:#FFFFFF ;
    background:#E30612 ;
    text-transform: uppercase;
} */


.section-credencial-mec {
    display: flex;
    background-color: #012D74;
    text-align: center;
    align-items: center;    
}

.section-credencial-mec .eventos-outros-cursos {
    float: left;
    width: 100%;
    height: 100%;
}

.section-credencial-mec .text-section-eventos {
    padding: 25px 0px 25px 130px;
    text-align: left;
    align-items: center;
}

#card-news .btn-card {
    text-align: center;
    text-transform: uppercase;
    font-family: gotham-medium;
    border-radius: 27px;
    font-size: 17px;
    padding: 15px 80px;
    color: #fff;
    background: #E30612;
    border: 1px solid #E30612;

}


#card-news .btn-card:hover {
    border: 1px solid #E30612;
    color:#E30612 ;
    background: #fff;
}

.section-credencial-mec .text-section-eventos h3 {
    font-size: 45px;
    font-family: gotham-medium;
    margin-bottom: 31px;
    text-align: left;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.section-credencial-mec .text-section-eventos p {
    font-size: 18px ;
    font-family: gotham-book-regular;
    letter-spacing: 0.18px;
    color: #FFFFFF;
    opacity: 1;
}


.section-credencial-mec .btn-card{
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
    font-family: gotham-medium;
    border-radius: 27px;
    font-size: 17px;
    padding: 18px 77px;
    color: #fff;
    border: 1px solid #fff;
}

.section-credencial-mec  .btn-card:hover {
    border: 1px solid #E30612;
    color:#E30612 ;
    text-transform: uppercase;
}


.line-up {
    border: 0.5px solid #42444A;
    opacity: 1;
    margin: 45px 0 0;
}


.outros-cursos {
    background-image:url(../img/fundo_outroscursos_incompany.png);
    height: 556px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
    z-index: 999;
}

.outros-cursos  .title-incompany {
    text-align: center;
    font-size: 45px;
    font-family: gotham-medium;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 45px;
}

.outros-cursos p {
    display: flex;
    text-align: center;
    color: #FFFFFF;
    font-family: gotham-book-regular;
    font-size: 22px;
    
}

.btn-case {
    margin-top: 50px;
    display: block;
    text-align: center;
}

.outros-cursos .btn-card {
    text-align: center;
    text-transform: uppercase;
    font-family: gotham-medium;
    border-radius: 27px;
    font-size: 17px;
    padding: 18px 77px;
    color: #fff;
    border: 1px solid #fff;
    
}

.outros-cursos .btn-card:hover {
    border: 1px solid #E30612;
    border-radius: 27px;
    color: #E30612;

}