@import "main.css";  

.banner-infra {
    background-image: url(../img/banners/banner_infraestrutura.png);
    height: 316px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
}

.banner-infra .title-banner {
    display: flex;
    position: relative;
    font-family: gotham-book-regular;
    /* top: 245px; */
    margin: 0 auto;
    /* left: 85px; */
    padding-top: 50px;
    color: #eee;
    padding-left: 0;
}

.content-infra {
    padding-left: 25px;
}

.title-infra {
    display: flex;
    padding: 60px 0;
}

.title-infra .vecs {
    background-image: url(../img/vecs.svg);
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    width: 212px;
    height: 170px;
    margin-right: 45px;
}

.title-infra h3 {
    color: #012D74;
    font-family: gotham-bold;
    font-size: 30px;
}
.title-infra .line {
    border: 0.5px solid #012D74;
    width: 138px;
    margin: 15px 240px;
    opacity: 1;
}

.title-infra p {
    font-family: gotham-book-regular;
    color: #42444A;
    font-size: 27px;

}

.desc-infra {
    background-image:url(../img/fundo_infraestrutura.png);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
    z-index: 999;
}

.desc-infra p {
    font-family: gotham-book-regular;
    color: #eee;
    font-size: 18px;
}

.desc-infra b{
    font-family: gotham-bold;
    color: #eee;
    font-size: 30px;
    padding: 0 15px;
}

.desc-infra .dates {
    float: left !important;
}