@import "mba-economia-aplicada.css";
@import "formularios.css";
@import "credenciamento-mec.css";
@import "termo-privacidade.css";
@import "acessibilidade.css";
@import "cpa.css";
@import "bolsa-de-estudo.css";
@import "ouvidoria.css";
@import "mobile.css";

@font-face {
    font-family: gotham;
    src: url(../fonts/gotham.otf);
  }

  @font-face {
    font-family: gotham-ultra;
    src: url(../fonts/gotham-ultra.otf);
  }


@font-face {
    font-family: gotham-bold;
    src: url(../fonts/gotham-bold.otf);
  }

  @font-face {
    font-family: gotham-medium;
    src: url(../fonts/gotham-medium.ttf);
  }
  
  @font-face {
    font-family: gotham-book-regular;
    src: url(../fonts/gotham.otf);
  }
  @font-face {
    font-family: gotham-light;
    src: url(../fonts/gotham-light.ttf);
  }

body {
    font-family: gotham-bold;
}

#top-bar {
    background: #f0f0f0;
    display: flex;
    height: 65px;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    box-shadow: 0 4px 6px -6px #999;
}

#top-bar .top-bar-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-bar .top-bar-content .social-icons, #top-bar .top-bar-content .contact {
    display: flex;
    align-items: center;
}

#top-bar .top-bar-content li {
    list-style: none;
    margin-left: 10px;
}
/* menu */

#menu {
    display: flex;
    z-index: 999;
    text-decoration: none;
    margin: 0 auto;
}
#menu .top-bar-menu .content-menu {
    display: flex;
}
#menu .top-bar-menu{
    display: flex;
    padding-top: 15px;

}
#menu .top-bar-menu .menu-link {
    display: flex;
    list-style: none;
    width: max-content;
    align-items: center;
}
#menu .top-bar-menu .menu-link li{
    padding: 10px;
    max-width: 160px;
    min-width: 160px;
    text-align: initial;
    justify-content: center;
    display: flex;
}

#menu .top-bar-menu .menu-link li a{
    font-family: gotham-bold;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    list-style: none;
    color: #000;
}
#menu .top-bar-menu .menu-link li a .dropdown-menu:hover {
display: block !important;
}
#menu .logo-box {
top: 45px;
left: 278px;
width: 130px;
height: 94px;
margin: 0px 20px 0px 0;
}

#menu #logo {
background: transparent 0% 0% no-repeat padding-box;
opacity: 1;
}

/* menudropdown */
.dropbtn a:checked{
color: #E30612;
}
.dropbtn a{
    color: white;
    font-family: gotham-bold;
    font-weight: 700;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .dropbtn a span{
    font-size: 12px;
    letter-spacing: 0;
    color: #42444A;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    max-width: 160px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 0 30px 10px;
  }
  
  .dropdown-content a {
    display: block;
    text-decoration: none;
    color: black;
    opacity: 1;
    padding: 12px 16px;
    width: 208px;
    border-bottom: 1.5px solid #E30612;
  }
  
  .dropdown-content a:hover {color: #E30612 !important; }
  
  .dropdown:hover .dropdown-content {display: flex;}
  
  .dropdown:hover .dropbtn a{background-color: #fff; color: #E30612;}

  /* menu-dropdown-2 */
  .dropdown-content-2 {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 0 30px 10px;
  }
  
  .dropdown-content-2 a {
    display: block;
    text-decoration: none;
    color: black;
    opacity: 1;
    padding: 12px 16px;
    width: 208px;
    border-bottom: 1.5px solid #E30612;
  }

.dropdown-content-2 a:hover {
    color: #E30612 !important; 
    }

.dropdown:hover .dropdown-content-2 {    
    display: flex;
    position: absolute;
    left: -350px;
}

.dropdown:hover .dropbtn a{background-color: #fff; color: #E30612;}

/* Banner-home */

#banner {
    top: 45px;
    left: 0;
    width: 100%;
    height: auto;
}

.banner-home {
    font-family: gotham-book-regular;
    background-image: url(../img/bg.png);
    height: calc(100vh + 100px);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
}

#top-bar .top-bar-content li i {
    background: #42444a;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50px;
}

#top-bar .top-bar-content li a {
    display: flex;
    align-items: center;
}

#top-bar .top-bar-content .social-icons {
    margin-right: 70px;
}

#top-bar .top-bar-content .contact a {
    text-decoration: none;
    color: #012d74;
    font-weight: 700;
}

#top-bar .top-bar-content .contact i {
    margin-left: 10px;
    font-size: 38px;
    background: #172d74;
}

#top-bar .top-bar-content .search {
    position: relative;
}

#top-bar .top-bar-content .search i {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 25px;
}

#top-bar .top-bar-content .search input {
    margin: 0 10px;
    padding: 5px 0 5px 40px;
    font-family: gotham-light;
    border-radius: 20px;
    border: 1px solid #adadad;
    outline: none;
}

#top-bar .top-bar-content .user_menu {
    display: flex;
}

#top-bar .top-bar-content .user_menu a {
    color: #012d74;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding-right: 15px;
    text-decoration: none;
}

#top-bar .top-bar-content .user_menu a:hover {
    color: #E30612;
}

#top-bar .top-bar-content .user_menu img {
    margin-right: 10px;
}

.card-deck .card {
    margin-left: 0;
    height: 459px;
    margin: 74px 15px;
}
.cards-home {
    margin-top:45px;
    margin-bottom:45px;
}

.content-cards {
    display: contents;
    background-color: #f5f5f5;
    height: 630px;
}

.content-cards-mba {
    display: contents;
    background-color: #f5f5f5;
    height: 630px;
}

.cards-home .title-line {
    border: 1px solid;
    opacity: 1;
    width: 138px;
    display: inline-flex;
    position: relative;
    top: 0;
    margin: 5px 0 20px;
}

.cards-home p {
    font-size: 16px;
    color: #737373;
    font-family: gotham-book-regular;   
}

.cards-home .card-item {
    margin-bottom: 35px;
}
.card-home #card-promo-home {
    display: block;
}
.cards-home #card-promo-home .title-line { color: #e30612; }
.cards-home #card-news .title-line { color: #42444a; }
.cards-home #card-event .title-line { color: #012d74; }


/* depoimentos */

#card-promo-home a {
    text-decoration: none;
}

#card-promo-home .title-brief{
    color: #E30612;
    margin-bottom: 15px;
    font-size: 25px;
}

#card-promo-home .brief {
    color: #E30612;
    border: 2px solid #E30612;
    opacity: 1;
    width: 138px;
}

#card-promo-home h3 {
    font-size: 20px;
    color: #E30612;
}


/* noticias */

#card-news a {
    text-decoration: none;
}
#card-news a:hover {
    text-decoration: #42444A ;
}
#card-news .title-news{
color: #42444A;
margin-bottom: 15px;
font-size: 25px;
}

#card-news .news {
    color: #42444A;
    border: 2px solid #42444A;
    opacity: 1;
    width: 138px;
}

#card-news h3 {
    font-size: 20px;
    color: #42444A;
}


/* eventos */

#card-event a {
    text-decoration: none;
}
#card-event .title-event{
    color: #012D74;
    margin-bottom: 15px;
    font-size: 25px;
}

#card-event .event {
    color: #012D74;
    border: 2px solid #012D74;
    opacity: 1;
    width: 138px;
}

#card-event h3 {
    font-size: 20px;
    color: #012D74;
}

.line-up {
    border: 0.5px solid #42444A;
    opacity: 1;
    margin: 45px 0 0;
}


/* Cards Blog Home */

.blog-cards-home {
    background: #F5F5F5;
}

.blog-cards-home .row { 
    width: 100%;
}

.blog-cards-home .cards-pagination {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: -450px;

}
.blog-cards-home .cards-pagination * {
    outline: none!important;
}

.blog-cards-home .pagination-btn:hover::after {
    filter: brightness(100);
}

.blog-cards-home .pagination-btn:hover {
    background: #3953a7;
}

.blog-cards-home .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    background-image: url('../img/arrow.png');
    background-size: contain;
}

.blog-cards-home .swiper-button-next, .blog-cards-home .swiper-button-prev {
    right: 10px;
    left: auto;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    padding-left: 7px;
    height: 40px;
}

.blog-cards-home .swiper-button-prev  {
    left: 10px;
    padding-left: 0px;
    padding-right: 7px;
}

.blog-cards-home .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -o-transform:rotate(180deg);
}

.blog-cards-home .swiper-button-next:after, .blog-cards-home .swiper-button-prev:after {
    content: '';
    height: 15px;
    width: 15px;
}


.blog-cards-home .swiper-slide .card .btn-card {
    padding: 15px;
    height: 56px !important;
    width: 328px !important;
}





/* swiper-carrousel */

.swiper-container {
    width: 100%;
    height: 100%;
 

  }
  
/* .swiper-container .card {
    min-width: 400px;
} */
.swiper-container .swiper-slide img {
    width: 100%;
    object-fit: cover;
    height: 175px;
}
.swiper-container .swiper-wrapper {
    margin-top: 45px;
    margin-bottom: 45px;
}
.swiper-slide {
    font-size: 18px;
    height: 405px!important;
    /* flex: 1; */
}
.swiper-slide .card-text {
    color: #E30612;
}

.swiper-slide .card-body {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.swiper-slide .card {
    height: 100%;
}

.box-text {
    height: 125px;
}

.box-btn {
    display: inline-block;
    height: 45px;
    margin: 25px 0; 
}
.btn-card{
    border: 1px solid #E30612;
    font-family: gotham-medium;
    border-radius: 27px;
    opacity: 1;
    text-align: center;
    font-size:  18px;
    letter-spacing: 0;
    color: #E30612;
    text-transform: uppercase;
    opacity: 1;
}

 .btn-card:hover {
    border: 1px solid #fff;
    color:#FFFFFF ;
    background:#E30612 ;
    text-transform: uppercase;
}

.swiper-slide .card .btn-card{
    border: 1px solid #E30612;
    border-radius: 27px;
    opacity: 1;
    text-align: center;
    font-size: 18px;
    font-family:gotham-medium;
    letter-spacing: 0;
    color: #E30612;
    background: #fff;
    text-transform: uppercase;
    opacity: 1;
}

.swiper-slide .card .btn-card:hover {
    border: 1px solid #fff;
    color:#FFFFFF ;
    background:#E30612 ;
    text-transform: uppercase;
}

.swiper-button-next {
    color: #000000 !important;
    border-radius: 50px;
}
.swiper-button-next::after {
    font-size: 14px;
}
.swiper-button-prev {
    color: #000000 !important;
    border-radius: 50px;
}
/* send-email */
.pad-email {
    margin-top: 25px;
    border: .5px solid #42444A;
    opacity: 1;
}
.form-send-email {
    margin: 60px 0;
    width: 100%;
    display: flex;
}
.form-send-email span {
    vertical-align: middle;
    color: #42444A;
    margin-top: 10px;
    font-size: 20px;
    padding-right: 15px;
    text-align: center;

}
.form-send-email form {
    display: flex;
    align-items: center;
}

.form-send-email input {
    width: 536px;
    height: 44px;
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 15px 0px 0px 15px;
    padding: 0 25px;
    opacity: 1;
}

.form-send-email button{
    color: #fff;
    width: 260px;
    height: 44px;
    background: #012D74 0% 0% no-repeat padding-box;
    border: 1px solid #012D74;
    border-radius: 0px 15px 15px 0px;
    opacity: 1;
    float: right;
}


.form-send-email button:hover{
    color: #012D74;
    width: 260px;
    height: 44px;
    background: #fff 0% 0% no-repeat padding-box;
    border: 1px solid #012D74;
    border-radius: 0px 15px 15px 0px;
    opacity: 1;
    float: right;
}
/* Publicações */

.banner-publicacoes {
    background-image: url(../img/banners/banner_publicacoes.png);
    height: 316px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
}

.banner-publicacoes .title-banner {
    display: flex;
    position: relative;
    font-family: gotham-book-regular;
    margin: 0 auto;
    padding-top: 50px;
    color: #eee;
    padding-left: 0;
            
}


.title-publicacoes {
    display: flex;
    padding: 60px 0;
}

.title-publicacoes .vecs {
    background-image: url(../img/vecs.svg);
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    width: 212px;
    height: 170px;
    margin-right: 45px;
}

.title-publicacoes h3 {
    color: #E30612;
    font-family: gotham-bold;
    font-size: 30px;
}
.title-publicacoes .line {
    border: 0.5px solid #E30612;
    width: 138px;
    margin: 30px 0;
    opacity: 1;
}
.title-publicacoes p {
    font-family: gotham-book-regular;
    color: #42444A;
    font-size: 18px;
}
.line-cards {
    padding: 35px;
    width: 150px;
    border-bottom: 2px solid #000;
}
.cards-publicacoes {
    background-color: #FFFFFF;
}

.cards-publicacoes .card {
    border: 0;
    border-radius: 0;
}

.cards-publicacoes .card-deck .card-body {
    text-align: center;
    padding: 1.25rem 0;
}

.cards-publicacoes .card-deck .card-body .card-title {
    text-align: left;
}

.cards-publicacoes .card-deck .card-body .card-text {
    font-family: gotham-book-regular;
    text-align: left;
    color: #42444A;
    font-size: 18px;
    height: 150px;
}

.cards-publicacoes .card .btn-card{
    text-align: center;
    text-transform: uppercase;
    font-family: gotham-bold;
    color: #E30612;
    width: 328px;
    font-size: 18px;
    letter-spacing: 0;
    border-radius: 27px;
    border: 1px solid #E30612;
}

.cards-publicacoes  .card .btn-card:hover {
    border: 1px solid #fff;
    color:#FFFFFF ;
    background:#E30612 ;
    text-transform: uppercase;
}
/* mba */

.banner-mba {
    background-image: url(../img/banners/banner_mba.png);
    height: 316px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
}

.banner-mba .title-banner {
    display: flex;
    position: relative;
    font-family: gotham-book-regular;
    /* top: 245px; */
    margin: 0 auto;
    /* left: 85px; */
    padding-top: 50px;
    color: #eee;
    padding-left: 0;
}

#card-promo .title-mba {
    font-size: 30px;
    color: #42444A;
    text-transform: uppercase;   
    font-family: gotham-medium;
}

#card-mba {
    width: 100%;
    height: 100%;
    background: #F5F5F5;
    padding: 50px 0 !important;
}

.route-bar {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    color:#8E919A;
    height: 70px;
}


.route-bar #routes a {
    color:#8E919A;
    font-size: 20px;
    font-family: gotham-book-regular;
    text-decoration: none;
}

/* Corpo-docente */

.banner-docente {
    background-image: url(../img/banners/banner_corpodoce.png);
    height: 316px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
}

.banner-docente .title-banner {
    display: flex;
    position: relative;
    font-family: gotham-book-regular;
    /* top: 245px; */
    margin: 0 auto;
    /* left: 85px; */
    padding-top: 50px;
    color: #eee;
    padding-left: 0;
}

.desc-docente {
    background-color: #42444A;
    padding: 90px 0;
}

.desc-docente .img-docente {
    display: flex;
    width: 100%;
    float: left;
    height: 480px;
    margin-right: 15px;
}

.desc-docente p{
    font-family: gotham-book-regular;
    font-size: 18px;
    color: #FFFFFF;
    opacity: 1;
}

.desc-docente .descriptions-docente {
    display: inline-block;
}


.form-send-email-docente form {
    display: flex;
    align-items: center;
}
.form-send-email-docente {
    padding: 60px 0;
    width: 100%;
    display: flex;
    background-color: #42444A;
}

.form-send-email-docente input {
    width: 536px;
    height: 44px;
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 15px 0px 0px 15px;
    padding: 0 25px;
    opacity: 1;
}

.form-send-email-docente span {
    color: #FFFFFF;
}

.form-send-email-docente button {
    color: #fff;
    width: 260px;
    height: 44px;
    background: #012D74 0% 0% no-repeat padding-box;
    border: 1px solid #012D74;
    border-radius: 0px 15px 15px 0px;
    opacity: 1;
    float: right;
}

.container-news-docente {
    background-color: #42444A;
}

.line-up-docente {
    border: 0.5px solid #FFFFFF;
    opacity: 1;
}

/* FACULDADE */

.banner-fipe {
    background-image: url(../img/banners/banner_fipe.png);
    height: 316px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
}

.banner-fipe .title-banner {
    display: flex;
    position: relative;
    font-family: gotham-book-regular;
    margin: 0 auto;
    padding-top: 50px;
    color: #eee;
    padding-left: 0;
}

.afipe {
    background-image:url(../img/fundo_afipe.png);
    height: 316px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
    z-index: 999;
}

.afipe p {
    display: flex;
    text-align: center;
    color: #FFFFFF;
    font-family: gotham-book-regular;
    font-size: 22px;
}

.description {
    padding: 77px 0;
    text-align: left;
    font-family: gotham-book-regular;
    font-size: 18px;
    letter-spacing: 0.18px;
    color: #42444A;
    opacity: 1;
}


#card-promo .title-facul {
    text-align: center;
    font-family: gotham-medium;
    font-size:27px;
    padding: 50px 0;
    color: #42444A;
    opacity: 1;
}

/* infraestrutura */

.banner-infra {
    background-image: url(../img/banners/banner_infraestrutura.png);
    height: 316px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
}

.banner-infra .title-banner {
    display: flex;
    position: relative;
    font-family: gotham-book-regular;
    /* top: 245px; */
    margin: 0 auto;
    /* left: 85px; */
    padding-top: 50px;
    color: #eee;
    padding-left: 0;
}

.content-infra {
    padding-left: 25px;
}

.title-infra {
    display: flex;
    padding: 60px 0;
}

.title-infra .vecs {
    background-image: url(../img/vecs.svg);
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    width: 212px;
    height: 170px;
    margin-right: 45px;
}

.title-infra h3 {
    color: #012D74;
    font-family: gotham-bold;
    font-size: 30px;
}
.title-infra .line {
    border: 0.5px solid #012D74;
    width: 138px;
    margin: 15px 240px;
    opacity: 1;
}

.title-infra p {
    font-family: gotham-book-regular;
    color: #42444A;
    font-size: 27px;

}

.desc-infra {
    background-image:url(../img/fundo_infraestrutura.png);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
    z-index: 999;
}

.desc-infra p {
    font-family: gotham-book-regular;
    color: #eee;
    font-size: 18px;
}

.desc-infra b{
    font-family: gotham-bold;
    color: #eee;
    font-size: 30px;
    padding: 0 15px;
}

.desc-infra .dates {
    float: left !important;
}
/* curso-de-ferias */

.banner-ferias {
    background-image: url(../img/banners/banner_cursoferias.png);
    height: 316px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
}

.banner-ferias .title-banner {
    display: flex;
    position: relative;
    font-family: gotham-book-regular;
    /* top: 245px; */
    margin: 0 auto;
    /* left: 85px; */
    padding-top: 50px;
    color: #eee;
    /* padding-left: 25px; */
}
/* curta-duracao */


.banner-curta-duracao {
    background-image: url(../img/banners/banner_curtaduracao.png);
    height: 316px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
}

.banner-curta-duracao .title-banner {
    display: flex;
    position: relative;
    font-family: gotham-book-regular;
    /* top: 245px; */
    margin: 0 auto;
    /* left: 85px; */
    padding-top: 50px;
    color: #eee;
    padding-left: 0;
}
/* graduação */

.banner-grad {
    background-image: url(../img/banners/banner_graduacao.png);
    height: 316px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
}

.banner-grad .title-banner {
    display: flex;
    position: relative;
    font-family: gotham-book-regular;
    /* top: 245px; */
    margin: 0 auto;
    /* left: 85px; */
    padding-top: 50px;
    color: #eee;
    padding-left: 0;
}

#routes {
    /* padding-left: 45px; */
}
.route-bar {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    color:#8E919A;
    height: 70px;
}

.route-bar #routes a {
    color:#8E919A;
    font-size: 20px;
    font-family: gotham-book-regular;
    text-decoration: none;
}

#card-promo .title-grad {
    font-size: 30px;
    color: #42444A;
    text-transform: uppercase;   
    font-family: gotham-medium;
}

.card .btn-card-grad{
    border: 1px solid #E30612;
    border-radius: 27px;
    opacity: 1;
    text-align: center;
    width: 100%;
    font: Medium 18px/26px Gotham;
    letter-spacing: 0;
    color: #E30612;
    margin:10px;
    text-transform: uppercase;
    opacity: 1;
}

.card .btn-card-grad:hover {
    border: 1px solid #fff;
    color:#FFFFFF ;
    background:#E30612 ;
    text-transform: uppercase;
}

.desc-grad {
    background-image:url(../img/fundo_vestibular.png);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
    z-index: 999;
}

.desc-grad .btn-vestibular {
    border: 1px solid #FFFFFF;
    border-radius: 27px;
    opacity: 1;
    text-align: center;
    font-family: gotham;
    letter-spacing: 0;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
}

.desc-grad .btn-vestibular:hover {
    border: 1px solid #E30612;
    color:#E30612 ;
    text-transform: uppercase;
}

.desc-grad h3{
    color: #FFFFFF;
}

.desc-grad p {
    font-family: gotham-book-regular;
    color: #eee;
    margin-top: 45px;
    font-size: 18px;
    margin-bottom: 32px;

}

.desc-grad b{
    font-family: gotham-bold;
    color: #eee;
    font-size: 30px;
    padding: 0 15px;
}

.desc-grad .dates {
    float: left !important;
}

/* outros-cursos */


.banner-outros-cursos {
    background-image: url(../img/banners/banner_outroscursos.png);
    height: 316px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
}

.banner-outros-cursos .title-banner {
    display: flex;
    position: relative;
    font-family: gotham-book-regular;
    /* top: 245px; */
    margin: 0 auto;
    /* left: 85px; */
    padding-top: 50px;
    color: #eee;
    padding-left: 0;
}

.cards-cursos {
    margin-top:45px;
    margin-bottom:45px;
    font-size: 16px;
    color: #737373;
    text-align: justify;
    font-family: gotham-book-regular;
}

.cards-fipe-cap {
    margin-top:45px;
    margin-bottom:45px;
}

.cards-cursos #card-news {
    text-align: justify;
}

#card-promo .title-fipe-cap {
    font-size: 55px;
    color: #E30612;
    text-align: right;
    font-family: gotham-medium;
    text-transform: uppercase;
}

#card-news .fipe-cap-p {
    text-align: left;
    font-family: gotham-book-regular;
    font-size: 18px;
    letter-spacing: -0.18px;
    color: #42444A;
}


.section-eventos-cursos {
    display: flex;
    background-color: #42444A;
    text-align: center;
}

.section-eventos-cursos .eventos-outros-cursos {
    float: left;
    width: 100%;
    height: 100%;
}

.section-eventos-cursos .text-section-eventos {
    padding: 25px 0px 25px 130px;
    text-align: left;
    align-items: center;
}

#card-news .btn-card {
    text-align: center;
    text-transform: uppercase;
    font-family: gotham]-medium;
    border-radius: 27px;
    font-size: 17px;
    margin-top: 45px;
    padding: 15px 80px;
    color: #fff;
    background: #E30612;
    border: 1px solid #E30612;
}

#card-news .btn-card:hover {
    border: 1px solid #E30612;
    color:#E30612 ;
    background: #fff;
}

.section-eventos-cursos .text-section-eventos h3 {
    font-size: 45px;
    font-family: gotham-medium;
    margin-bottom: 31px;
    text-align: left;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.section-eventos-cursos .text-section-eventos p {
    font-size: 18px ;
    font-family: gotham-book-regular;
    letter-spacing: 0.18px;
    color: #FFFFFF;
    opacity: 1;
}


.section-eventos-cursos .btn-card{
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
    font-family: gotham-medium;
    border-radius: 27px;
    font-size: 17px;
    padding: 18px 77px;
    color: #fff;
    border: 1px solid #fff;
}

.section-eventos-cursos  .btn-card:hover {
    border: 1px solid #E30612;
    color:#E30612 ;
    text-transform: uppercase;
}


.line-up {
    border: 0.5px solid #42444A;
    opacity: 1;
    margin: 45px 0 0;
}


.outros-cursos {
    background-image:url(../img/fundo_outroscursos_incompany.png);
    height: 556px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
    z-index: 999;
}

.outros-cursos  .title-incompany {
    text-align: center;
    font-size: 45px;
    font-family: gotham-medium;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 45px;
}

.outros-cursos p {
    display: flex;
    text-align: center;
    color: #FFFFFF;
    font-family: gotham-book-regular;
    font-size: 22px;
    
}

.btn-case {
    margin-top: 50px;
    display: block;
    text-align: center;
}

.outros-cursos .btn-card {
    text-align: center;
    text-transform: uppercase;
    font-family: gotham-medium;
    border-radius: 27px;
    font-size: 17px;
    padding: 18px 77px;
    color: #fff;
    border: 1px solid #fff;
    
}

.outros-cursos .btn-card:hover {
    border: 1px solid #E30612;
    border-radius: 27px;
    color: #E30612;
}

/* in-company */

.banner-in-company {
    background-image: url(../img/banners/banner_outroscursos.png);
    height: 316px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
}

.banner-in-company .title-banner {
    display: flex;
    position: relative;
    font-family: gotham-book-regular;
    /* top: 245px; */
    margin: 0 auto;
    /* left: 85px; */
    padding-top: 50px;
    text-transform: uppercase;
    color: #eee;
    padding-left: 0;
}

.cards-cursos {
    margin-top:45px;
    margin-bottom:45px;
    font-size: 16px;
    color: #737373;
    text-align: justify;
    font-family: gotham-book-regular;
}

.cards-cursos #card-promo .title-grad {
    font-size: 30px;
    color: #012D74;
    text-transform: uppercase;   
    font-family: gotham-medium;
}

.box-in-company {
    display: flex;
}

.box-in-company .card-in-company {
    display: flex;
    background: #f2f3f3;
    width: 398px;
    height: 555px;
    margin: 15px;
}
.box-in-company .card-in-company .number-in-company {
    font-family: gotham-medium;
    font-size: 90px;
    color: #42444A;
    padding: 0px 11px;
}

.box-in-company .card-in-company .title-in-company {
    font-family: gotham-bold;
    font-size: 20px;
    color: #42444A;
}

.box-in-company .card-in-company .content-text {
    margin-top: 70px;
    padding: 0px 20px 0px 0px;
}

.box-in-company .card-in-company p {
    font-family: gotham-book-regular;
    font-size: 20px;
    color: #42444A;
}

.box-description-company {
text-align: center;
}

.box-description-company h3{
    font-family: gotham-bold;
    color: #42444A;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 65px;
}

.button-contato {
    align-items: center;
    text-align: center;
    margin-top: 80px;
}

/* eventos-gratuitos */

.banner-eventos-gratuitos {
    background-image: url(../img/banners/banner_eventosgratuitos.png);
    height: 316px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
}

.banner-eventos-gratuitos .title-banner {
    display: flex;
    position: relative;
    font-family: gotham-book-regular;
    /* top: 245px; */
    margin: 0 auto;
    /* left: 85px; */
    padding-top: 50px;
    color: #eee;
    padding-left: 0;
}
/* biblioteca */

.route-bar #routes a {
    color:#8E919A;
    font-size: 20px;
    font-family: gotham-book-regular;
    text-decoration: none;
}
.banner-biblioteca {
    background-image: url(../img/banners/banner_biblioteca.png);
    height: 316px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
}

.banner-biblioteca .title-banner {
    display: flex;
    position: relative;
    font-family: gotham-book-regular;
    margin: 0 auto;
    padding-top: 50px;
    color: #eee;
    padding-left: 0;
}

.biblioteca-info {
    background-color: #42444A;
    padding: 90px 0;
}

.biblioteca-info .img-book {
    display: flex;
    width: 300px;
    float: left;
    height: 300px;
    margin-right: 15px;
}

.biblioteca-info p{
    font-family: gotham-book-regular;
    font-size: 18px;
    color: #FFFFFF;
    opacity: 1;
}

.biblioteca-info h3{
    font-family: gotham-book-regular;
    font-size: 45px;
    color: #FFFFFF;
    opacity: 1;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.content-biblioteca-virtual {
    display: inline-block;
}

.leia-regulamento-box {
    float: left;
}

.leia-regulamento-box  .leia{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: gotham-bold;
}

.btn-biblioteca-virtual .text-button-biblioteca-virtual {
    font-family: gotham-medium !important;
    text-align: left;   
}

.btn-biblioteca-virtual{
    float: left;
    padding: 0 65px;
}

.btn-biblioteca-virtual .icon-biblioteca-virtual {
    padding: 0 15px 0 0;
}

.biblioteca-info .descriptions-biblioteca {
    float: right;
}
.biblioteca-info .btn-card{
    display: flex;
    text-align: center;
    text-transform: uppercase;
    font-family: gotham-medium;
    border-radius: 50px;
    font-size: 18px;
    padding: 18px 77px;
    color: #FFF;
    background: #E30612;
    border: 1px solid #E30612;
}

.biblioteca-info  .btn-card:hover {
    background:none;
    border: 1px solid #fff;

}


/* footer */
#footer {
    padding: 60px 0px 0;
    float: left;
    width: 100%;
    height: 100%;
    background: #1F1F27 0% 0% no-repeat padding-box;
    opacity: 1;
}

#footer h5 {
    color: #fff;
    font-size: 14px;
    font-family: gotham-bold;

}
#footer .menu-footer {
    margin-top: 15px;
    width: 49px;
    height: 0px;
    border: 2px solid #E30612;
    opacity: 1;
}
#footer #logo {
    display: flex;
    padding: 0 75px;
    margin: 0 0px 25px 25px;
}

#footer ul {
    margin: 0;
    padding: 0;
}
#footer ul  li {
    list-style: none;
    margin: 15px 0;
}

#footer ul li .btn-card {
    margin-top: 13px;
    border: 1px solid #fff;
    border-radius: 27px;
}

#footer ul li .btn-card:hover {
    border: 1px solid #E30612;
    border-radius: 27px;
}

#footer p {
    text-align: center;
    color: #fff;
    font-size: 12px;
    width: 100%;
    font-family: gotham-book-regular;
    margin-right: 0;
    margin-left: 0;
    padding-left: 30px;
}
#footer ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: gotham-book-regular;
}

#footer ul li a:hover {
    text-decoration: none;
    color: #E30612;
}

#footer .social-icons  {
padding-left: 35px;
vertical-align: top;
display: flex;
}

#footer .social-icons  li{
    align-items: center;
    width: 20%;
    justify-content: center;
    }
#footer .social-icons li i  {
    background: #fff;
    color: #000000;
    width: 30px;
    height: 30px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

#footer .social-icons li a  {
    text-decoration: none;
}

#footer .google-maps {
    padding: 0 0px 0 50px;
}

#footer .direitos {
    margin-top: 50px;
}
#footer .mobile-maps {
    display: none;
}
/* mobile */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    /* capacitacao */
    #section-capacitacao .btn-card-contato {
        font-size: 12px;
        margin-top: 0;
    }
    #section-capacitacao   .btn-card-contato:hover {
        color: #fff;
        background: #E30612;
    }
    .description p {
        font-size: 18px;
    }
    /* in-company */
    .box-in-company {
        display: inline-block;
    }
    .box-in-company .card-in-company {
        width: 100%;
    }
    .button-contato .btn-card-contato {
        font-size: 14px;
    }   
    
    .card-deck .card-body .btn-card {
        width: 430px;
        margin-top: 35px;
    }

    /* infraestrutura */
    .desc-infra {
        height: 540px;
        padding-bottom: 80px;
    }

    .title-banner {
        margin-top: 100px !important;
    }
    .swiper-container {
        width: 70%;
    }

    .swiper-slide {
        width: 690px;
    }

    .mobile-box {
        display: block;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }
    .mobile-box #card-news {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }
    .section-eventos-cursos {
        display: block;
    }

    .section-eventos-cursos .eventos-outros-cursos {
        float: none;
    }
    
    .section-eventos-cursos .text-section-eventos h3 {
        margin-top: 25px;
        text-align: center;
    }
    
    .section-eventos-cursos .text-section-eventos {
        padding: 25px 0px 25px 0px;
        text-align: center;
    }
    .form-send-email span {
        display: block;
        text-align: center;
        margin-bottom: 15px;
    }

    #card-promo .title-fipe-cap {
        text-align: center;
    }

    .banner-outros-cursos .title-banner {
        margin-top: 100px;
    }

    .cards-cursos #card-promo {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    #card-promo {
        align-items: center;
        display: flex;
        max-width: 100%;
    }

    #card-promo .title-grad {
        width: 100%;
        text-align: center;
    }

    .card-deck .card {
        height: 419px;
    }

    /* .btn-card {
        width: 170px;
        font-size: 12px;
    }
     */
    #card-img {
        max-width: 100%;
        align-items: center;
        text-align: center
    }

    .content-cards {
        height: 560px;
    }

    #menu {
        display: none;
    } 

    #top-bar {
        width: 768px;
    }

    #top-bar-hamburger {
        font-size: 35px;
        float: right;
        color: #FFF;
        margin-top: 25px;
    }

    #top-bar-hamburger i {
        float: right;
    }

    #top-bar-hamburger .logo-box {
        display: inline-block;
    }

    #top-bar-hamburger .menu-link {
        display: grid;
        float: right;
    }
    #top-bar .top-bar-content .social-icons {
        margin-right: 20px;
    }

    #banner {
        top: 45px;
        left: 0;
        width: 100%;
        height: auto;
    }

    .banner-home {
        font-family: gotham-book-regular;
        background-image: url(../img/banners/fipe-mobile.jpg);
        height: calc(100vh + 100px);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        margin-top: 65px;
    }

    .banner-ouvidoria {
        background-image: url(../img/banners/mobile/banner_acessibilidade-mobile.jpg);
    }

    .banner-anpec {
        background-image: url(../img/banners/mobile/banner_anpec-mobile.jpg);
    }

    .box-send-contact .content-send-contact .form-control {
        width: 255px;
    }

    
    .fundo-acessibilidade {
        height: 650px;
    }

    .fundo-acessibilidade .description-acessibilidade-comand p {
        font-size: 20px;
    }

    .fundo-acessibilidade .content-comand-acessibilidade .text-comand {
        font-size: 17px;
    }

    /* biblioteca */

    .mobile-content-biblioteca {
        text-align: center;
    }

    .biblioteca-info .descriptions-biblioteca {
        max-width: 100%;
    }

    .biblioteca-info .btn-card {
        width: 430px;
        margin-top: 35px;
    }

    .box-img {
        display: inline-block;
        max-width: 100%;
    }
    .btn-biblioteca-virtual {
        display: block;
    }
    /* anpec */
    
.banner-anpec {
    background-image: url(../img/banners/banner_anpec.png);
    height: 316px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
}

.banner-anpec .title-banner {
    display: flex;
    position: relative;
    font-family: gotham-book-regular;
    /* top: 245px; */
    margin: 0 auto;
    /* left: 85px; */
    padding-top: 50px;
    color: #eee;
    padding-left: 0;
}

    #footer .mobile-footer {
        display: block;
        max-width: 48%;
    }

    #footer .google-maps {
        display: none;
    }
    
    #footer .mobile-maps {
        display: block;
        margin-bottom: 55px;
        margin-top: 55px;
    }

    /* PUBLICAÇÕES */

    .card-deck {
        margin-bottom: 15px;
        display: inline-block;
        width: 100%;
        align-items: center;
    }
    
    .card-deck .card {
        height: 600px;
        width: 100%;
        display: inline-block;
    }

    /* MBA */

    .content-cards-mba .btn-card {
        width: 50%;
        font-size: 18px;
        margin: 70px 0;
    }

    /* Corpo-docente */
    .desc-docente .descriptions-docente {
        margin-top: 45px;
    }

    /* cursos-de-ferias */
    .curso-de-ferias  .btn-card{
        width: 50%;
        font-size: 18px;
        margin: 70px 0;
    }
    /* curta-duracao */

}
/* tablet */
@media (min-width:768px) and (max-width:1024px) {
    #top-bar-hamburger {
        display: none;
    }
}
/* desktop S */
@media (min-width:1025px) and (max-width:1440px) {
    #top-bar-hamburger {
        display: none;
    }

}
/* desktop M */
@media (min-width:1440px) and (max-width:1900px) {
    #top-bar-hamburger {
        display: none;
    }
    .blog-cards-home .swiper-button-next {
        right: -145px;
        left: auto;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        padding-left: 7px;
        height: 40px;
    }
    .blog-cards-home .swiper-button-prev {
        left: -145px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        padding-left: 7px;
        height: 40px;
    }
    .blog-cards-home .row {
        margin-left: 0;
    }

    #footer .box-direitos {
        display: inline-block;
        width: 100%;
        background: #1F1F27 0% 0% no-repeat padding-box;
    }
    #footer .direitos {
        margin-top: 110px;
    }
}
/* desktop L */

@media (min-width:1901px) and (max-width:2560px) {

    #top-bar-hamburger {
        display: none;
    }
    .dropbtn a {
        padding: 11px;
        font-size: 12px;
    }
}


