@import "mba.css";  
@import "faculdade.css";  
@import "corpo-docente.css";  
@import "infraestrutura.css";  
@import "publicacoes.css";  
@import "cursos-de-ferias.css";  
@import "curta-duracao.css";
@import "graduacao.css";

@font-face {
    font-family: gotham-bold;
    src: url(../fonts/gotham-bold.otf);
  }
  
  @font-face {
    font-family: gotham;
    src: url(../fonts/gotham.otf);
  }
  @font-face {
    font-family: gotham-medium;
    src: url(../fonts/gotham-medium.ttf);
  }
  
  @font-face {
    font-family: gotham-book-regular;
    src: url(../fonts/gotham.otf);
  }
  @font-face {
    font-family: gotham-light;
    src: url(../fonts/gotham-light.ttf);
  }

body {
    font-family: gotham-bold;
}

#top-bar {
    background: #f0f0f0;
    display: flex;
    height: 65px;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    box-shadow: 0 4px 6px -6px #999;
}

#top-bar .top-bar-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-bar .top-bar-content .social-icons, #top-bar .top-bar-content .contact {
    display: flex;
    align-items: center;
}

#top-bar .top-bar-content li {
    list-style: none;
    margin-left: 10px;
}
/* menu */

#menu {
    display: flex;
    z-index: 999;
    text-decoration: none;
    margin: 0 auto;
}
#menu .top-bar-menu .content-menu {
    display: flex;
}
#menu .top-bar-menu{
    display: flex;
    padding-top: 15px;

}
#menu .top-bar-menu .menu-link {
    display: flex;
    list-style: none;
    width: max-content;
    align-items: center;
}
#menu .top-bar-menu .menu-link li{
    padding: 10px;
    max-width: 160px;
    min-width: 160px;
    text-align: initial;
    justify-content: center;
    display: flex;
}

#menu .top-bar-menu .menu-link li a{
    font-family: gotham-bold;
    align-items: center;
    text-decoration: none;
    list-style: none;
    color: #000;
}
#menu .top-bar-menu .menu-link li a .dropdown-menu:hover {
display: block !important;
}
#menu .logo-box {
top: 45px;
left: 278px;
width: 130px;
height: 94px;
margin: 0px 20px 0px 25px;
}

#menu #logo {
background: transparent 0% 0% no-repeat padding-box;
opacity: 1;
}

/* menudropdown */
.dropbtn a:checked{
color: #E30612;
}
.dropbtn a{
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .dropbtn a span{
    font-size: 12px;
    letter-spacing: 0;
    color: #42444A;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    max-width: 160px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 0 30px 10px;
  }
  
  .dropdown-content a {
    display: block;
    text-decoration: none;
    color: black;
    opacity: 1;
    padding: 12px 16px;
    width: 208px;
    border-bottom: 1.5px solid #E30612;
  }
  
  .dropdown-content a:hover {color: #E30612 !important; }
  
  .dropdown:hover .dropdown-content {display: flex;}
  
  .dropdown:hover .dropbtn a{background-color: #fff; color: #E30612;}

  /* menu-dropdown-2 */
  .dropdown-content-2 {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 0 30px 10px;
  }
  
  .dropdown-content-2 a {
    display: block;
    text-decoration: none;
    color: black;
    opacity: 1;
    padding: 12px 16px;
    width: 208px;
    border-bottom: 1.5px solid #E30612;
  }

.dropdown-content-2 a:hover {color: #E30612 !important; }

.dropdown:hover .dropdown-content-2 {    display: flex;
position: absolute;
left: -350px;}

.dropdown:hover .dropbtn a{background-color: #fff; color: #E30612;}

/* Banner-home */
#banner {
    top: 45px;
    left: 0;
    width: 100%;
    height: auto;
}
.banner-home {
    background-image: url(../img/bg.png);
    height: calc(100vh + 100px);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 80px;
}

#top-bar .top-bar-content li i {
    background: #42444a;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50px;
}

#top-bar .top-bar-content li a {
    display: flex;
    align-items: center;
}

#top-bar .top-bar-content .social-icons {
    margin-right: 70px;
}

#top-bar .top-bar-content .contact a {
    text-decoration: none;
    color: #012d74;
    font-weight: 700;
}

#top-bar .top-bar-content .contact i {
    margin-left: 10px;
    font-size: 38px;
    background: #172d74;
}

#top-bar .top-bar-content .search {
    position: relative;
}

#top-bar .top-bar-content .search i {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 25px;
}
#top-bar .top-bar-content .search input {
    margin: 0 10px;
    padding: 5px 0 5px 40px;
    font-family: gotham-light;
    border-radius: 20px;
    border: 1px solid #adadad;
    outline: none;
}
#top-bar .top-bar-content .user_menu {
    display: flex;
}
#top-bar .top-bar-content .user_menu a {
    color: #012d74;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding-right: 15px;
    text-decoration: none;
}
#top-bar .top-bar-content .user_menu a:hover {
    color: #E30612;

}
#top-bar .top-bar-content .user_menu img {
    margin-right: 10px;
}

.cards-home {
    margin:45px 0;
}
/* depoimentos */

#card-promo a {
    text-decoration: none;
}

#card-promo .title-brief{
color: #E30612;
margin-bottom: 15px;
font-size: 25px;
}

#card-promo .brief {
    color: #E30612;
    border: 2px solid #E30612;
    opacity: 1;
    width: 138px;
}

#card-promo h3 {
    font-size: 20px;
    color: #E30612;
}
#card-promo p {
    font-family: gotham-book-regular;
    font-size: 18px;
    color: #42444A
}

/* noticias */

#card-news a {
    text-decoration: none;
}
#card-news a:hover {
    text-decoration: #42444A ;
}
#card-news .title-news{
color: #42444A;
margin-bottom: 15px;
font-size: 25px;
}

#card-news .news {
    color: #42444A;
    border: 2px solid #42444A;
    opacity: 1;
    width: 138px;
}

#card-news h3 {
    font-size: 20px;
    color: #42444A;
}
#card-news p {
    font-family: gotham-book-regular;
    font-size: 18px;
    color: #42444A;
    margin-left: 70px;
}

/* eventos */

#card-event {
    margin-top:40px;
}
#card-event a {
    text-decoration: none;
}
#card-event .title-event{
    color: #012D74;
    margin-bottom: 15px;
    font-size: 25px;
}

#card-event .event {
    color: #012D74;
    border: 2px solid #012D74;
    opacity: 1;
    width: 138px;
}

#card-event h3 {
    font-size: 20px;
    color: #012D74;
}
#card-event p {
    font-family: gotham-book-regular;
    font-size: 18px;
    color: #012D74;
}

.line-up {
    border: 0.5px solid #42444A;
    opacity: 1;
    margin: 45px 0 0;
}
/* swiper-carrousel */

.swiper-container {
    width: 100%;
    height: 100%;
    background: #F5F5F5;
    padding: 50px 0 !important;
  }
  
/* .swiper-container .card {
    min-width: 400px;
} */
.swiper-container .swiper-slide img {
    width: 100%;
    object-fit: cover;
    height: 175px;
}
.swiper-slide {
    font-size: 18px;
    height: 405px!important;
    /* flex: 1; */
}
.swiper-slide .card-text {
    color: #E30612;
}

.swiper-slide .card-body {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.swiper-slide .card {
    height: 100%;
}
.swiper-slide .card .btn-card{
    border: 1px solid #E30612;
    border-radius: 27px;
    opacity: 1;
    text-align: center;
    font: Medium 18px/26px Gotham;
    letter-spacing: 0;
    color: #E30612;
    text-transform: uppercase;
    opacity: 1;
}

.swiper-slide .card .btn-card:hover {
    border: 1px solid #fff;
    color:#FFFFFF ;
    background:#E30612 ;
    text-transform: uppercase;
}

.swiper-button-next {
    color: #000000 !important;
    border-radius: 50px;
}
.swiper-button-next::after {
    font-size: 14px;
}
.swiper-button-prev {
    color: #000000 !important;
    border-radius: 50px;
}
/* send-email */
.pad-email {
    margin-top: 25px;
    border: .5px solid #42444A;
    opacity: 1;
}
.form-send-email {
    margin: 60px 0;
    width: 100%;
    display: flex;
}
.form-send-email span {
    vertical-align: middle;
    color: #42444A;
    margin-top: 10px;
    padding-right: 15px;
    text-align: center;

}
.form-send-email form {
    display: flex;
    align-items: center;
}

.form-send-email input {
    width: 536px;
    height: 44px;
    display: flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 15px 0px 0px 15px;
    padding: 0 25px;
    opacity: 1;
}

.form-send-email button{
    color: #fff;
    width: 260px;
    height: 44px;
    background: #012D74 0% 0% no-repeat padding-box;
    border: 1px solid #012D74;
    border-radius: 0px 15px 15px 0px;
    opacity: 1;
    float: right;
}


.form-send-email button:hover{
    color: #012D74;
    width: 260px;
    height: 44px;
    background: #fff 0% 0% no-repeat padding-box;
    border: 1px solid #012D74;
    border-radius: 0px 15px 15px 0px;
    opacity: 1;
    float: right;
}


/* footer */
#footer {
    padding: 60px 0px 0;
    float: left;
    width: 100%;
    height: 477px;
    background: #1F1F27 0% 0% no-repeat padding-box;
    opacity: 1;
}

#footer h5 {
    color: #fff;
    font-size: 14px;
}
#footer .menu-footer {
    width: 49px;
    height: 0px;
    border: 2px solid #E30612;
    opacity: 1;
}
#footer #logo {
    display: flex;
    padding: 0 75px;
    margin: 0 0px 25px 25px;
}

#footer ul {
    margin: 0;
    padding: 0;
}
#footer ul  li {
    list-style: none;
}
#footer p {
    text-align: center;
    color: #fff;
    font-family: gotham-book-regular;
}
#footer ul li a {
    text-decoration: none;
    color: #fff;
    font-family: gotham-book-regular;
}

#footer ul li a:hover {
    text-decoration: none;
    color: #E30612;
}

#footer .social-icons   {
padding-left: 35px;
vertical-align: top;
display: flex;
}


#footer .social-icons li i  {
    background: #fff;
    color: #000000;
    width: 30px;
    height: 30px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

#footer .social-icons li a  {
    text-decoration: none;
}

#footer .google-maps {
    padding: 0 0px 0 50px;
}

#footer .direitos {
    margin-top: 50px;
}



@media (min-width:576px) {
}

@media (min-width:768px) {
    
}

@media (min-width:992px) {
    
}

@media (max-width:1369px) {
    .dropbtn a {
        padding: 11px;
        font-size: 12px;
    }
}

@media (min-width: 1500px) {
  
}


